html {
    height: 100%;
    border: 30px solid transparent;
    padding: 0px;
    border-image: url("http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=67630795") 30 round;
    background: url('https://image.freepik.com/photos-libre/plaque-de-metal-texture_1048-2443.jpg');
    background-size: cover;
    border-radius: 90px;
}

body {
    height: 100%;
    overflow: hidden;
}

.stats {
}

.stats-label {
}

.progress {
    height: 15px;
    border-radius: 0;
}