<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Fin de la partie</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div th:include="/partials/menu"/>
<section class="container">
    <h1>Aucun jeu en cours</h1>
    <div th:if="${errorMessage}" class="card">
        <div class="card-content teal darken-1">
            <p class="white-text"><span th:text="${errorMessage}"></span>.</p>
        </div>
    </div>
    <th:block th:switch="${status}">
        <div th:case="${T(io.resourcepool.hvsz.game.GameState).NONE}">
            <a class="waves-effect waves-light btn" href="/game/settings">Configurer le jeu</a>
        </div>
        <div th:case="${T(io.resourcepool.hvsz.game.GameState).ACTIVE}">
            <a class="waves-effect waves-light btn" href="/game/pause">Mettre le jeu en pause</a>
        </div>
        <div th:case="${T(io.resourcepool.hvsz.game.GameState).PAUSED}">
            <a class="waves-effect waves-light btn" href="/game/resume">Reprendre le jeu</a>
            <a class="waves-effect waves-light red lighten-2
                btn" href="/game/stop">Adandonner le jeu</a>
        </div>
        <div th:case="*">
            <a class="waves-effect waves-light btn" href="/game/start">Lancer le jeu</a>
        </div>

    </th:block>
</section>
<footer>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"/>
</body>
</html>