<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <header class="row">
        <nav class="col s12 brown darken-3">
            <div class="nav-wrapper">
                <a href="/index" class="brand-logo">Zombie Game</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/configuration">Configuration</a></li>
                    <li><a href="/human">Humain</a></li>
                    <li><a href="/resource/get">Récupérer des ressources</a></li>
                    <li><a href="/kill">Tuer un humain</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="container">
        <h1>Dashboard</h1>
        <div class="mainInfos">
            <p th:text="'Nombre de Joueur Humain : ' + ${nbhumain}"/>
            <p th:text="'Nombre de Joueur Zombie : ' + ${nbzombie}"/>
            <p th:text="'Temps de jeu restant : ' + ${time} + ' minutes'"/>
            <p th:text="'Nombre de vies restantes : ' + ${nblife}"/>
        </div>
        <ul class="zones">
            <li th:each="zone : ${zones}" th:text="${zone.name} + ' : ' + ${zone.resource}"/>
        </ul>
    </section>
    <footer>

    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"/>
    <script type="text/javascript" src="js/materialize.js"/>
</body>
</html>