<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Get your greeting <a href="/dashboard">here</a></p>
    <p>Configuration interface <a href="/configuration">here</a></p>
    <p>Human/Safe Zone interface <a href="/human">here</a></p>
    <p>Supply-zone interface <a href="/resource/get">here</a></p>
    <p>Zombie interface <a href="/kill">here</a></p>
</body>
</html>